<sectio class="py-5">
    <h1 class="display-3">
        Thank You
    </h1>
    <p class="lead">Your e-book will be sent on your email within 2 hours.</p>
    <a href="/" class="btn btn-dark btn-lg">Back Home</a>
</sectio>